<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>BasicCardView.swift</string>
		</array>
		<array>
			<string>FabButton.swift</string>
		</array>
		<array>
			<string>FlatButton.swift</string>
		</array>
		<array>
			<string>MaterialAnimation.swift</string>
		</array>
		<array>
			<string>MaterialBasicAnimation.swift</string>
		</array>
		<array>
			<string>MaterialBorder.swift</string>
		</array>
		<array>
			<string>MaterialButton.swift</string>
		</array>
		<array>
			<string>MaterialColor.swift</string>
		</array>
		<array>
			<string>MaterialDepth.swift</string>
		</array>
		<array>
			<string>MaterialFont.swift</string>
		</array>
		<array>
			<string>MaterialGravity.swift</string>
		</array>
		<array>
			<string>MaterialInsets.swift</string>
		</array>
		<array>
			<string>MaterialKeyframeAnimation.swift</string>
		</array>
		<array>
			<string>MaterialLabel.swift</string>
		</array>
		<array>
			<string>MaterialLayer.swift</string>
		</array>
		<array>
			<string>MaterialLayout.swift</string>
		</array>
		<array>
			<string>MaterialPulseView.swift</string>
		</array>
		<array>
			<string>MaterialRadius.swift</string>
		</array>
		<array>
			<string>MaterialShape.swift</string>
		</array>
		<array>
			<string>MaterialStatusBarStyle.swift</string>
		</array>
		<array>
			<string>MaterialTheme.swift</string>
		</array>
		<array>
			<string>MaterialView.swift</string>
		</array>
		<array>
			<string>NavigationBarView.swift</string>
		</array>
		<array>
			<string>RaisedButton.swift</string>
		</array>
		<array>
			<string>RobotoFont.swift</string>
		</array>
	</array>
</dict>
</plist>
